@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "akira";
  src: url(/fonts/Akira\ Expanded\ Demo.otf);
}

:root {
  --bg-dark: #0a1612;
  --primary: #1a2930;
  --secondary: #ffa500;
  --bg-light: #f5f5f5;

  /* Textos */
  --text-light: #f5f5f5;
  --text-dark: #0a1612;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(/img/regis-and-log-bg.jpg);
  background-size: cover;
  color: var(--text-light);
}

#register {
  background-color: var(--primary);
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(255, 165, 0, 0.4) -5px 5px, rgba(255, 165, 0, 0.3) -10px 10px,
    rgba(255, 165, 0, 0.2) -15px 15px, rgba(255, 165, 0, 0.1) -20px 20px,
    rgba(255, 165, 0, 0.05) -25px 25px;
}

fieldset {
  margin: 1em;
  padding: 5px 20px;
  border: solid 2px var(--secondary);
  border-radius: 7px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

legend {
  font-size: 20px;
  padding: 0 0.25em;
  color: var(--secondary);
  font-weight: 500;
}

label {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 16px;
}

label:first-of-type {
  margin-top: 0;
}

input {
  padding: 3px;
  font-size: 16px;
  border-radius: 7px;
  border: 0;
  box-shadow: 8px 8px 0px var(--bg-dark);
}

fieldset div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px 0px 5px;
}

div img {
  height: 35px;
}

button {
  padding: 5px;
  background-color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-dark);
  border: solid var(--bg-dark);
  border-radius: 7px;
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

button:active {
  transform: scale(1);
  transition: 0s;
}
